<div class="main posts-new">
  <div class="container">
    <h1 class="form-heading">投稿する</h1>
    <%= form_tag("/kintore_posts/create") do %>
      <div class="form">
        <div class="form-body">
          <p>種目</p>
          <input name="content">
          <p>内容</p>
          <textarea name="detail"></textarea>
          <input type="submit" value="投稿">
        </div>
      </div>
    <% end %>
  </div>
</div>
